#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Z   &kp M   &kp K       &kp P
                &kp A   &kp B   &kp C       &kp I
                &kp D   &kp E   &bootloader &KP S
            >;
        };
    };
};
